.THIS {
    overflow: hidden;    
}

.THIS.outer {
    height: 45rem;
    overflow: hidden;
}

.THIS .card.start {
    text-align: center;    
}

.THIS .image img {
    width: 16rem;
}

.THIS .label {
    font-weight: bold;
}

.THIS .main {
    height: 34rem;
}