.THIS {
    height: 4rem;
}

.THIS .kpi {
}

.THIS .kpi .wrapper {
    
}

.THIS .kpi .wrapper.hide {
    display: none;
}

.THIS .kpi .name {
	height: 1.1rem;
    line-height: 1rem;
}

.THIS .kpi .value {
	height: 1.1rem;
    line-height: 1rem;
}