.THIS {
}

.THIS.wizard-modal {
    min-width: 90%;
    min-height: 54rem;
}

.THIS.wizard-modal .slds-modal__container {
    width: 90rem;
    min-width: 72rem;
    max-width: 90rem;
    height: 54rem;
    min-height: 48rem;
    max-height: 64rem;
}

.THIS.wizard-modal .modal-body.scrollable.slds-modal__content {
    overflow: hidden;
}