.THIS.container {
    border: 0 none;
    padding: token(spacingXSmall);
    height: 435px;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
}

.THIS ul {
    list-style: none;
}

.THIS .attr-table-container {
    height: 100%;
    display: block;
    overflow: scroll;
    border-bottom: 1px solid token(colorBorder);
}

.THIS .attr-table {
}