.THIS {
}

.THIS .story {
    
}

/*
.THIS .story .narrative {
    
}

.THIS .story .narrative .title {
    
}

.THIS .story .narrative div.paragraph {
 	display: inline;   
}

.THIS .story .narrative div.sub_heading {
	padding: 3px 0;    
}

.THIS .story .narrative div.good_section {
    color: #04844b;
	padding: 3px 0;    
}

.THIS .story .narrative div.bad_section {
    color: #c23934;
	padding: 3px 0;    
}

.THIS .story .narrative .body .body > .paragraph:first-of-type {
    color: orange;
}
*/