.THIS {
    width: 100%;
    overflow: hidden;
    background: transparent;
}

.THIS .outer {
    position: relative;
}

.THIS .dashboard-container {
}

.THIS .dashboard-outer {
    opacity: 1;
}

.THIS .dashboard-outer.fadeout {
	transition-duration: 0.5s;    
    opacity: 0;
}

.THIS .dashboard-outer.fadein {
	transition-duration: 4s;
    opacity: 1;
}

.THIS .dashboard-outer.hidden {
    display: none;
}

.THIS .hide {
    display: none;
}


.THIS textarea {
    resize: none;
    height: 40rem;
}

.THIS .diff-container {
    height: 40rem;
    overflow: auto;
}